body {
  font-family: PingFang SC;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app-container {
  width: 357px;
  height: 600px;
  box-shadow: 0 0 7px 0 rgb(0 0 0 / 8%);
  position: relative;
}

/* @media screen and (min-width: 576px) {
  #app-container {
    width: 85vw;
    margin-bottom: 10vh;
    min-height: 90vh;
  }
}
@media screen and (min-width: 769px) {
  #app-container {
    width: 80vw;
    min-height: 82vh;
  }
}
@media screen and (min-width: 1281px) {
  #app-container {
    width: 62vw;
    min-height: 82vh;
  }
} */
